@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}

body, html {
    height: 100%;
    width: 100%;
}


main {

    min-height: calc(100% - 4em);
    max-width: 768px;
    margin: 1em auto;
    padding: 1em;

    border-radius: 2em;

    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        "profile  profile   twitter"
        "about    about     github"
        "about    about     discord"

        "time     location  location"

        "skills   skills    projects"
        "skills   skills    projects"
        "skills   skills    projects"

        "contact  contact   contact"
        "contact  contact   contact";
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    position: relative;

    background-color: #1c1c1c;
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
    color: #e0e0e0;

    border-radius: 1em;
    overflow: hidden;
    padding: 1em;
    transition: transform 0.2s cubic-bezier(0.15, 0.8, 0.25, 1);

    background-size: 125% auto;
    background-position: 50% 50%;

    & h2 {
        background-color: white;
        color: black;
        padding: 0.15em 0.5em;
        border-radius: 0.5em;
        width: fit-content;
    }

    &:hover, &:focus-within {
        transform: scale(1.025);
    }

    &:active {
        transform: scale(0.975);
    }

    :not(.card-letters) {
        z-index: 1;
    }

}

.profile {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://avatars.githubusercontent.com/u/90942493?v=4");
    background-size: 125% auto;
    background-position: 50% 50%;
}

.github, .discord, .time, .twitter {
    aspect-ratio: 1;
    & a {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25em;

        position: absolute;
        right: 0.25em;
        bottom: 0.25em;
        color: black;
        background-color: #fff;
        padding: 0.5em 1em;
        border-radius: 2em 2em 2em 2em;
        text-decoration: none;
        transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

        &:hover, &:focus {
            background-color: #000;
            color: #fff;
        }
    }
}

.location {
    background: url("../images/london.png");
    background-size: 125% auto;
    background-position: center;
}

.card-letters {
    --x: 0px;
    --y: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 200%;
    width: 200%;
    color: #a4a4a4;
    font-size: 1.5em;
    font-weight: 500;
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 400ms;
    -webkit-mask-image: radial-gradient(
            calc(var(--x) * 1px) calc(var(--y) * 1px) at var(--x) var(--y),
            rgb(255 255 255) 20%,
            rgb(255 255 255 / 25%),
            transparent
    );
    scale: 1.05;
    filter: blur(1px);
}

.card:hover, .card:focus-within {
    .card-letters {
        opacity: 0.25;
        pointer-events: none;
    }
}

#time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25em;

    & p {
        font-size: 0.75em;
        font-weight: 700;
    }

    &.morning {
        background: linear-gradient(18deg, #FFD700, #FF6347);
        box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
    }

    &.afternoon {
        background: linear-gradient(18deg, #87CEEB, #FF4500);
        box-shadow: 0 0 10px rgba(135, 206, 235, 0.7);
    }

    &.evening {
        background: linear-gradient(18deg, #FF69B4, #8A2BE2);
        box-shadow: 0 0 10px rgba(255, 105, 180, 0.7);
    }

    &.night {
        background: linear-gradient(18deg, #000000, #191970);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
}

#theclock {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

a {
    text-decoration: none;
    color: rgba(196, 196, 196, 0.82);
    font-weight: 700;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover, &:focus {
        color: #fff;
        filter: brightness(1.25);
    }
}

.tech__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    grid-gap: 1em;
    align-items: center;
    justify-items: center;

    .tech__grid__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
        text-align: center;

        & i {
            font-size: 2em;
        }

        & p {
            font-size: 0.75em;
            font-weight: 700;
        }
    }

}